html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    overflow: hidden;
}

.animazione {
    top: 0;
    width: 99vw;
    height: 70vh;
    position: fixed;
}

.colore {
    position: fixed;
    width: 99vw;
    height: 30vh;
    top: 70vh;
}
        
#elemento {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100px;
}

.zero {
    margin-left: 8vw;
    margin-top: 40vh;
}
    
.uno {
    margin-top: 40vh;
    animation: mymove_oriz 10s infinite;
}
    
.due { 
    margin-left: auto;
    margin-right: auto;
    animation: mymove_vert 10s infinite;
}

.tre {
    margin-left: auto;
    margin-right: auto;
    animation: mymove_vert 10s infinite;
    /*border: solid 10px white;*/
}

.quattro {
    margin: 0;
    position: absolute;
    background-color: #FF3300;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes mymove_oriz {
  0%   {margin-left: 8vw;}
  10%  {margin-left: 8vw;}
  40%  {margin-left: 83vw;}
  60%  {margin-left: 83vw;}
  90%  {margin-left: 8vw;}
  100% {margin-left: 8vw;}
}

@keyframes mymove_vert {
  0%   {margin-top: 8vh;}
  10%  {margin-top: 8vh;}
  40%  {margin-top: 80vh;}
  60%  {margin-top: 80vh;}
  90%  {margin-top: 8vh;}
  100% {margin-top: 8vh;}
}

.acceso {
    width: 70vh;
    height: 70vh;
    border: solid 10px white;
    border-radius: 70vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: mymove_circle 10s infinite;

}

@keyframes mymove_circle {
  0%   {width: 100px; height: 100px;}
  50%  {width: 70vh; height: 70vh;}
  100% {width: 100px; height: 100px;}
}
