html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    background: black;
    overflow: hidden;
}

.palco {
    width: 90vh;
    height: 90vh;
    position: fixed;
}
        
#elemento {
    width: 100px;
    height: 100px;
    margin-top: 40vh;
    margin-left: 8vw;
    border-radius: 100px;
    position: relative;
}
    
.zero {
    margin-left: 8vw;
    background-color: red;
}
    
.uno { 
    background-color: white;
    animation: mymove_oriz 10s infinite;
}
    
.due { 
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    animation: mymove_vert 10s infinite;
}

.tre {
    margin-left: auto;
    margin-right: auto;
    animation: mymove_vert 10s infinite;
    border: solid 10px white;
}

.quattro { 
    background-color: green;
}

@keyframes mymove_oriz {
  0%   {margin-left: 8vw;}
  10%  {margin-left: 8vw;}
  40%  {margin-left: 83vw;}
  60%  {margin-left: 83vw;}
  90%  {margin-left: 8vw;}
  100% {margin-left: 8vw;}
}

@keyframes mymove_vert {
  0%   {margin-top: 8vh;}
  10%  {margin-top: 8vh;}
  40%  {margin-top: 80vh;}
  60%  {margin-top: 80vh;}
  90%  {margin-top: 8vh;}
  100% {margin-top: 8vh;}
}
