body {
    background-color: black;
}

#elemento {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    position: relative;
}
    
.zero { 
    background-color: red;
}
    
.uno { 
    background-color: blue;
}
    
.due { 
    background-color: orange;
}

.tre { 
    background-color: yellow;
}

.quattro { 
    background-color: green;
}
